body {
  font-family: "Montserrat";
  text-align: center;
}

#carouselExampleFade {
  position: relative;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

h1, h5 {
  font-family: 'Poppins', sans-serif;
}

.Heading-text {
  font-size: 5rem;
  font-weight: 150;
  color: white;
  /* color: #cf7500; */
  padding 0;
  margin: 0;
  position: absolute;
  left: 90px;
  bottom: 300px;
  width: 45rem;
  text-align: left;
font-family: 'Viga', sans-serif;
}

.main-btn{
  border-radius: 20px;
  font-size: 1.5rem;
  margin-top: 10rem;
  margin-left: 2px;
  width: 15rem;
  position: absolute;
  left: 90px;
  bottom: 200px;

}
.book-now{
  position: absolute;
  left: 360px;
  bottom: 200px;
  width: 14rem;
}

.trend {
  margin-left: 3.3rem;
  margin-bottom: 3.5rem;
  letter-spacing: 5px;
}

table {
  border-spacing: 50px;
}

p {
  color: #8f8f8f;
}

.title-img-section {
  height: 0%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {}

/* Sections */
.company-features {
  height: 5rem;
  width: auto;
}



.colored-section-up {
  background-color: #fff;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: grey;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 5% 7%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 0;
}

.icon {
  color: grey;
  margin-bottom: 1rem;
}

.intro {
  width: 60%;
  margin: auto;
}

.reopen {
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #dae1e7;
}
.reopen-1 {
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: white;
}

/* Testimonial Section */
/* #testimonials {
  color: #fff;
  background-color: #27496d;
} */

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* INSPIRATION Section */
.inspiration-section {
  text-align: center;
  /* margin-left: 6rem; */
  margin-top: 0;
  /* margin-bottom: 6rem; */
  /* margin-right: 6rem; */
  letter-spacing: 8px;
  background-color: #dae1e7;
  /* margin: 0;  */
  padding: 10px 30px;
}
.photo-gallery-container{
  margin-top: 4rem;
  margin-left: 9rem;
  margin-bottom: 6rem;
  margin-right: 9rem;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.pad {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

/* Image gallery */
.container {
  max-width: 1250px;
  margin-left: 4rem;
  margin-right: 4rem;
  /* background: #f2f2f2; */
  overflow: auto;
}

.test {
  margin-left: 3rem;
}

.img-gallery {
  height: 300px;
  width: 420px;
}

.gallery {
  margin: 2px;
  /* border: 1px solid #ccc; */
  float: left;
  width: 390px;
}

.gallery img {
  width: 420px;
  height: 300px;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* Guides-section */
.guide-section {
  margin-top: 0;
}

.guide-image {
  height: 40%;
  width: 80%;
  border-radius: 50%;
  margin: 20px;
}

.caption {
  display: block;
}

.guide-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  /* margin: 15px 1px; */
  padding: 5px;
  /* border-radius: 10%; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: #008CBA; */
  margin: 0;
  /* padding: 0; */
}

.container:hover .overlay {
  opacity: 3.5;
  margin: 0;
  /* padding: 0; */
}

.text {
  color: white;
  font-size: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* story section */
hr{
  position: relative;
  left: 16%;
  right: 20%;
  bottom: 15%;
}
/* .story-section {
  background-color: #7ed56f;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
} */

.story-heading {
  padding-top: 3rem;
}

.width-taken {
  width: 70%;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  margin-left: 15rem;
}

/* footer */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body-content{
  width: 100%;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
}

.footer{
  width: 100%;
  background: #3f4441;
  display: block;
}

.inner-footer{
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.label{
  font-size: 1.5rem;
  text-align: left;
  margin-left: -12rem;
}

.head{
  color: white;
  font-size: 26px;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    border: 3px solid #555;
}

.footer-items{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

 .footer-items h2{
   margin: 10px 0;
   color: grey;
   font-size: 16px;
   font-weight: lighter;
   text-transform: uppercase;
 }


 .border{
   height: 2px;
   width: 100px;
   background: #fff;
   margin-left: 110px;
 }

 ul{
   list-style: none;
   color: #fff;
   font-size: 15px;
   letter-spacing: 0.5px;
 }

 ul a{
   text-decoration: none;
   outline: none;
   color: #fff;
   transition: 0.3s;
 }

 ul a:hover{
   color: #ff9800;
 }
 ul li {
   margin: 10px 0;
   height: 25px;
 }
 li i{
   margin-right: 20px;
 }
 .social-media{
   width: 100%;
   color: white;
   text-align: center;
 }
 .social-media a{
   text-decoration: none;
 }
 .social-media i{
   height: 15px;
   width: 15px;
   margin: 20px 5px;
   padding: 10px;
   color: #fff;
   border-radius: 50%;
   border: 1px solid grey;
   transition: 0.3s;
 }
 .social-media i:hover {
   background: grey;
 }
 .footer-bottom{
   padding: 10px;
   background: #3f4441;
   color: #fff;
   font-size: 12px;
 }

 @media screen and (max-width: 1085px) {
   .footer-items{
     width: 50%;
   }
 }

@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}

/* portfolio of treks */
/* .section-tours {
  background-color: #f7f7f7;
  padding: 10rem 4rem 15rem 4rem;
  margin-top: 0rem;
}
@media only screen and (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 15rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-tours {
    padding: 10rem 0 10rem 0;
  }
}
u-center-text {
  text-align: center !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-big {
  margin-top: 8rem !important;
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2*6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3*6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3*6rem) / 4) + 2 * 6rem); }
    .card {
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      height: 43rem; }
      .card__side {
        height: 43rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
        .card__side--front {
          background-color: #fff; }
        .card__side--back {
          transform: rotateY(180deg); }
          .card__side--back-1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
          .card__side--back-2 {
            background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
          .card__side--back-3 {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card:hover .card__side--front {
        transform: rotateY(-180deg); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__picture {
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
        .card__picture--1 {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(images/trek1.jpg); }
        .card__picture--2 {
          background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../img/trek2.jpg); }
        .card__picture--3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
      .card__heading {
        font-size: 2.3rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%; }
      .card__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
        .card__heading-span--1 {
          background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
        .card__heading-span--2 {
          background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
        .card__heading-span--3 {
          background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
      .card__details {
        padding: 3rem; }
        .card__details ul {
          list-style: none;
          width: 80%;
          margin: 0 auto; }
          .card__details ul li {
            text-align: center;
            font-size: 1rem;
            padding: 1rem;
          color: grey;}
            .card__details ul li:not(:last-child) {
              border-bottom: 1px solid #eee; }
      .card__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center; }
      .card__price-box {
        text-align: center;
        color: white;
        margin-bottom: 8rem; }
      .card__price-only {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 6rem;
        font-weight: 100; }
      @media only screen and (max-width: 56.25em), only screen and (hover: none) {
        .card {
          height: auto;
          border-radius: 3px;
          background-color: #fff;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
          .card__side {
            height: auto;
            position: relative;
            box-shadow: none; }
            .card__side--back {
              transform: rotateY(0);
              -webkit-clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
                      clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%); }
          .card:hover .card__side--front {
            transform: rotateY(0); }
          .card__details {
            padding: 1rem 3rem; }
          .card__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem; }
          .card__price-box {
            margin-bottom: 3rem; }
          .card__price-value {
            font-size: 4rem; } }
            .btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }
.btn--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after {
    background-color: #7ed56f; }
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; }
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all .2s; }
.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }
.btn-small{
  margin: 0;
  padding: 8px 20px;
  font-size: 1rem;
} */

/* ad section */
.ad-img{
  width: 75%;
  height: 350px;
  /* border-radius: 50px; */
}
#ad-carousel{
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  left: 10px;
}
.control-1{
  margin-left: 7%;
}
.control-2{
  margin-right: 7%;
}
/* Cards - Portfolio of treks */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu' ,sans-serif;
}




#facilities {
  /* background-color: #dbe5e6; */
  padding: 30px auto;
}

#facilities h1 {
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 5px;
 }

.title{
  text-align: center;
  padding: 25px 0px;
}
.title p {
  font-size: 18px;
}
.card-body{
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card{
  margin: 40px 10px;
  height: 485px;
  width: 350px;
}
.card-body a {
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}
.card-body a:hover{
  color: #63afb0;
  text-decoration: none;
}
.card-text{
  color: grey;
}
.marg{
  margin-left: 3rem;
}


.u-center-text {
  text-align: center !important; }

  .button, .button:link, .button:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }

  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .button:hover::after {
      transform: scale(1.4, 1.6);
      opacity: 0; }

  .button:active, .button:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

  .button--white {
    background-color: #fff;
    color: #777; }
    .button--white::after {
      background-color: #fff; }

  .button--green {
    background-color: #7ed56f;
    color: #fff; }
    .button--green::after {
      background-color: #7ed56f; }

  .button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

  .button--animated {
    -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
            animation: moveInBottom 0.5s ease-out 0.75s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards; }

  .button-text:link, .button-text:visited {
    font-size: 1.6rem;
    color: #7ed56f;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #7ed56f;
    padding: 3px;
    transition: all .2s; }

  .button-text:hover {
    background-color: #7ed56f;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }

  .button-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.space-bottom{
  padding-bottom: 3rem;
}
.btn-radius{
  border-radius: 5rem;
}
/* story */
.story-section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae1e7;
  padding: 0 1.5rem;
  /* position: relative;
  bottom: 10px; */
}
 .story-post{
  width: 70%;
  /* max-width: 100rem; */
  height: 50%;
  padding: 5rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}


.story-post_img{
  min-width: 35rem;
  max-width: 35rem;
  height: 2rem;
  /* transform: translateX(-8rem); */
  position: relative;
  bottom: 75px;
}
 .story-post_img img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}
/*
.story-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(79,172,254,0.8)
                                        rgba(0, 242, 254, 0.8));
  box-shadow: 0.5 0.5 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
} */
.story-post_info{
  width: 80%;
  height: 40%;
  padding: 0 20px 20px 20px;

}
.story-post_data span{
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 600;
  margin: 0rem 0 1.3rem 0;
}

.story-post_title{
  font-size: 2rem;
  /* margin: 1.5rem 0 2rem; */
  text-transform: uppercase;
  color: #4facfe;
}
.story-post_text{
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.7);

}
.story-post_content{
    text-align: left;
  position: relative;
  bottom: 130px;
  left: 225px;
}

/*
.story-post_cta{
display: inline-block;
padding: 1.5rem 3rem;
letter-spacing: 1px;
text-transform: uppercase;
font-size: 1.2rem;
color: white;
border-radius: 0.8rem;
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
text-decoration: none;
}
.story-post_cta:hover{
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}*/
/* @media screen and (max-width: 1068px) {
  .story-post{
    max-width: 80rem;}
    .story-post_img{
      min-width: 30rem;
      max-width: 30rem;}
}
@media screen and (max-width: 768px) {
  .story-post{
  padding: 2.5rem;
  flex-direction: column;
  }
    .story-post_img{
      min-width: 100%;
      max-width: 100%;
     transform: translate(0, -8rem);
    }
}
@media screen and (max-width: 1068px) {
  .story-post{
    max-width: 70rem;}
}  */

.story-section-1{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae1e7;
  padding: 0 1.5rem;

}
 .story-post-1{
  width: 70%;
  /* max-width: 100rem; */
  height: 50%;
  padding: 5rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin-bottom: 0;
  position: relative;
  bottom: 200px;
}


.story-post_img-1{
  min-width: 35rem;
  max-width: 35rem;
  height: 2rem;
  /* transform: translateX(-8rem); */
  position: relative;
  bottom: 75px;
}
 .story-post_img-1 img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}
/*
.story-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(79,172,254,0.8)
                                        rgba(0, 242, 254, 0.8));
  box-shadow: 0.5 0.5 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
} */
.story-post_info-1{
  width: 80%;
  height: 40%;
  padding: 0 20px 20px 20px;

}
.story-post_data-1 span{
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 600;
  margin: 0rem 0 1.3rem 0;
}

.story-post_title-1{
  font-size: 2rem;
  /* margin: 1.5rem 0 2rem; */
  text-transform: uppercase;
  color: #4facfe;
}
.story-post_text-1{
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.7);

}
.story-post_content-1{
    text-align: left;
  position: relative;
  bottom: 130px;
  left: 225px;
}
.align{
  text-align: center;
  margin-top: 8rem;


}
.bg-color{
  background-color: #dae1e7;
  padding-top: 40px;
  padding-bottom: 0;
  align-items: center;
  margin-bottom: 0;
}
.more-story{
  position:relative;
  bottom: 240px;
}
.trend-1 {
  /* margin-left: 3.3rem;
  margin-bottom: 3.5rem; */
  letter-spacing: 5px;
  text-align: center;
  /* margin-top: 30px; */
  position: relative;
  top: 60px;
}
/* .story-hr{
  margin-left: 8%;
} */
